<%
  title 'Messages'
%>

<div class="page-header">
  <h1>
    <%= render partial: 'search_form' if @receiver.present? %>
    <span>Messages</span>
  </h1>
</div>

<% if @receiver.present? %>
  <div class='row messages-panel'>
    <div class='col-md-4 messages-panel__participant'>
      <% (@participants + [@receiver]).uniq.each do |participant| %>
        <%= render partial: 'participant', locals: {
          participant: participant,
          receiver: @receiver,
          unread_count: unread_messages_count_for(participant)
        } %>
      <% end %>
    </div>
    <div class='col-md-8'>
      <div class='messages-panel__conversations'>
        <%= render partial: 'message', collection: @messages %>

        <% if @messages.last.try(&:unread) %>
          <div class='message-box__timeago participant'>
            <%= time_tag @messages.last.created_at %>
          </div>
        <% end %>
      </div>
      <div class='messages-panel__form'>
        <%= simple_form_for([current_community, @receiver, Message.new]) do |f| %>
          <%= f.input :body, label: false %>
          <%= f.submit 'Send', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p>
    You've not participated in any conversations yet. To start a new conversation,
    browse to any member's page and send them a message.
  </p>
<% end %>
