<tr>
  <td><%= companies_members_position.position.name %></td>
  <td><%= image_tag(companies_members_position.company.logo.url(:icon), class: 'img-rounded') %></td>
  <td><%= companies_members_position.company.name %></td>
  <td><%= image_tag(companies_members_position.member.avatar.url(:icon), class: 'img-rounded') %></td>
  <td><%= companies_members_position.member.full_name %></td>
  <td>
    <% if can? :approve, companies_members_position %>
      <%= link_to('Approve', approve_community_admin_companies_members_position_path(current_community, companies_members_position), method: :patch, class: 'btn btn-success btn-xs') %>
    <% end %>
    <% if can? :reject, companies_members_position %>
      <%= link_to('Reject', reject_community_admin_companies_members_position_path(current_community, companies_members_position), method: :delete, class: 'btn btn-danger btn-xs') %>
    <% end %>
  </td>
</tr>
