<tr>
  <td><%= member_icon member %></td>
  <td><%= image_tag(member.avatar.url(:icon), class: 'img-rounded') %></td>
  <td><%= member.first_name %></td>
  <td><%= member.last_name %></td>
  <td><%= member.email %></td>
  <td><%= member.invitation_sent_at %></td>
  <td>
    <% if can? :resend_invitation, member %>
      <%= link_to('Resend invitation', resend_invitation_community_admin_member_path(member.community, member), data: { method: 'patch' }, class: 'btn btn-default btn-xs') %>
    <% end %>
    <% if can? :update, member %>
      <%= link_to('Edit', edit_community_admin_member_path(member.community, member), class: 'btn btn-default btn-xs') %>
    <% end %>
  </td>
</tr>
