<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#social-media-services" aria-controls="social-media-services" role="tab" data-toggle="tab">Social Media Services</a></li>
    <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab">Notifications</a></li>
    <li role="presentation"><a href="#positions" aria-controls="positions" role="tab" data-toggle="tab">Positions</a></li>
  </ul>

  <%= simple_form_for([current_community, :admin, @member], html: { multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean }) do |f| %>
    <%= f.error_notification %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="general">
        <div class="row">
          <div class="col-lg-6">
            <%= f.input :first_name, autofocus: true %>
            <%= f.input :last_name %>
            <%= f.input :email, required: true %>
            <%= f.input :unconfirmed_email, disabled: true if @member.unconfirmed_email %>
            <%= f.input :description, input_html: { rows: 10 } %>
            <%= render partial: 'shared/forms/time_zone', locals: { form: f } %>
          </div>
          <div class="col-lg-6">
            <div class="col-lg-7 col-lg-offset-5">
              <%= render partial: 'shared/forms/avatar', locals: { form: f } %>
            </div>
            <%= render partial: 'admin/members/forms/member_role', locals: { form: f } %>
            <%= render partial: 'admin/members/forms/networks', locals: { form: f } %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="social-media-services">
        <div class="row">
          <div class="col-lg-6">
            <%= render partial: 'shared/forms/social_media_link', locals: { form: f } %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="notifications">
        <div class="row">
          <div class="col-lg-6">
            <%= render partial: 'shared/forms/notifications', locals: { form: f } %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="positions">
        <div class="row">
          <div class="col-lg-6">
            <%= f.error :positions %>
            <%= render partial: 'admin/members/forms/positions', locals: { form: f } %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= f.button :submit, "Save" %>
        <% if can? :destroy, @member %>
          <div class="pull-right small">
            <%= link_to(@member.confirmed? ? 'Delete this Member' : 'Revoke this invitation', community_admin_member_path(current_community, @member), method: :delete, class: 'btn btn-xs btn-hover btn-hover-danger', data: { confirm: "Are you sure you want to remove this Member?"}) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
