<tr>
  <td><%= event_type_label(event) %></td>
  <td><%= link_to event.title.truncate(30), [event.network.community, event.network, event] %></td>
  <td><%= event.starts_at.strftime('%A, %B %d, %Y at %l:%M%P') %></td>
  <td><%= event.ends_at.strftime('%A, %B %d, %Y at %l:%M%P') %></td>
  <td><%= event.time_zone.truncate(15) %></td>
  <td><%= event.location_detail.truncate(15) %></td>
  <td>
    <% if can? :update, event %>
      <%= link_to('Edit', edit_community_admin_event_path(current_community, event), class: 'btn btn-default btn-xs') %>
    <% end %>
  </td>
</tr>
