<%
  title @discussion.title
  page_header @discussion.title do
    render partial: 'shared/follow_button', locals: { object: @discussion }
end  %>
<div class="row discussion-wrapper">
  <div class="col-lg-8">
    <div class="discussion-list">
      <div class="discussion-starter">
        <%= render partial: 'comments/comment', locals: { comment: @discussion } %>
      </div>
      <div class="discussion-nested-comment-list row">
        <div class="col-lg-11 col-lg-offset-1">
          <%= render @discussion.nested_comments %>
        </div>
      </div>
      <h4 class="col-lg-11 col-lg-offset-1">Add a new Comment</h4>
      <%= render partial: 'comments/forms/new', locals: { comment: @comment } %>
    </div>
  </div>
  <div class="col-lg-4">
    <%= panel "Followers", columns: 12 do %>
      <%- @discussion.followers.each do |follower| %>
      <%= link_to(image_tag(follower.avatar.url(:icon), class: 'img-rounded'),
                  community_member_path(follower.community, follower)) %>
      <% end %>
    <% end %>
    <% if can? :destroy, @discussion %>
      <div class="text-right col-lg-12">
        <%= link_to 'Remove this Discussion', community_discussion_path(@discussion.community, @discussion), class: 'btn btn-xs btn-hover btn-hover-danger', method: :delete, data: { confirm: "Are you sure you want to remove this Discussion?"} %>
      </div>
    <% end %>
  </div>
</div>
