<div class="comment-wrapper" id="comment-<%= comment.id %>">
  <div class="comment-meta-wrapper row">
    <div class="col-lg-1">
      <%= image_tag(comment.author.avatar.url(:small_thumb), class: 'author-thumb img-rounded') %>
    </div>
    <div class="col-lg-11">
        <h3>
          <%= member_name_link(comment.author) %>
          <span class="label label-positions">
            <%= member_positions(comment.author) %>
          </span>
        </h3>
        <span class="label-timeago">Posted <%= time_tag comment.created_at %></span>
    </div>
  </div>
  <div class="comment-body-wrapper row">
    <div class="col-lg-10 col-lg-offset-1">
      <%= markdown(comment.body) %>
      <% if comment.is_a?(Comment) && can?(:destroy, comment) %>
        <div class="text-right">
          <%= link_to 'Remove this Comment',
                [current_community, current_network, comment.discussion, comment],
                class: 'btn btn-xs btn-hover btn-hover-danger',
                method: :delete,
                data: { confirm: "Are you sure you want to remove this Comment?"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
