<tr>
  <td>
    <% if office_hour.available? %>
      <div class="label label-success">Available</div>
    <% else %>
      <div class="label label-info">Booked</div>
    <% end %>
  </td>
  <td><%= office_hour.time_in_zone %></td>
  <td><%= office_hour.mentor_full_name %></td>
  <td><%= office_hour.participant_full_name %></td>
  <td>
    <% if office_hour.available? && can?(:book, office_hour) %>
      <%= link_to('Book', community_book_office_hour_path(current_community, office_hour), method: :patch, data: { confirm: "Are you sure you want to book this Office Hour?"}, class: 'btn btn-default btn-xs') %>
    <% elsif office_hour.booked? && can?(:cancel, office_hour) %>
      <%= link_to('Cancel', cancel_community_office_hour_path(current_community, office_hour), method: :delete, data: { confirm: "Are you sure you want to cancel this Booking?"}, class: 'btn btn-default btn-xs') %>
    <% elsif can?(:destroy, office_hour) %>
      <%= link_to('Delete', community_office_hour_path(current_community, office_hour), method: :delete, data: { confirm: "Are you sure you want to delete this Office Hour?"}, class: 'btn btn-default btn-xs') %>
    <% end %>
  </td>
</tr>
