<p>Dear <%= @recipient.full_name %>,</p>
<p>There is an requesting position change to <%= @position.name %>, from <%= @member.full_name %> (<%= @member.email %>) in <%= @company.name %> company that need you to approve.</p>
