<p>
<%= @author.full_name %> has created new discussion
</p>

<div style="background-color: #EEE; padding: 15px;">
  <p> Author: <%= @author.full_name %> </p>
  <p> Title: <%= @discussion.title %> </p>
  <hr/>
  <p><%= @discussion.body %></p>
</div>

<p>
  <%= link_to("Click here to continue the conversation.", [@receiver.community, @discussion]) %>
</p>
