<%= render partial: 'shared/navigations/administration' if can? :administrate, :application %>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <strong>my</strong>
        MaGIC
      <% end %>
    </div>
    <% if member_signed_in? %>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <%= nav_link "Welcome", root_path %>
          <%= nav_link "Members", Member %>
          <%= nav_link "Companies", Company %>
          <%= nav_link "Office Hours", OfficeHour %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              <%= image_tag(current_member.avatar.url(:icon), class: 'img-rounded') %>
              <%= current_member.full_name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <%= nav_link "Edit my Account", edit_member_registration_path %>
              <li class="divider"></li>
              <%= nav_link "Sign Out", destroy_member_session_path, method: :delete %>
            </ul>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <%= nav_link "Log in", new_member_session_path %>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
