<% title @event.title %>
<div class="page-header">
  <div class="page-header-action event-rsvps">
    <%= render(partial: 'rsvp', locals: { event: @event, rsvp: @rsvp }) if can? :rsvp, @event %>
    <%= render(partial: 'attendees', locals: { attendees: @event.members.attending }) if @event.members.attending.any? %>
  </div>
  <h1><%= event_header(@event) %></h1>
</div>

<div class="row">
  <div class="col-sm-9 col-xs-8">
    <%= markdown(@event.description) %>
  </div>
  <div class="col-sm-3 col-xs-4">
    <div class="row">
      <%= render partial: 'location', locals: { event: @event } %>
      <%= render partial: 'time', locals: { event: @event } %>
      <div class="text-center">
        <%= event_type_label(@event, with_event: true) %>
      </div>
    </div>
  </div>
</div>
