<%= f.error_notification %>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="general">
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :name, autofocus: true, placeholder: 'ACME Corporation' %>
        <%= f.input :website, placeholder: 'https://www.example.com' %>
        <%= f.input :description, placeholder: 'Describe your company…',
                    input_html: { rows: 12 }, hint: markdown_hint %>
        <%= f.association :networks,
                          collection: current_community.networks,
                          as: :check_boxes, label_method: :name,
                          value_method: :id, label: 'Networks' %>
      </div>
      <% if f.object.persisted? %>
        <div class="col-lg-3 col-lg-offset-2">
          <%= render partial: 'shared/forms/company_logo', locals: { form: f } %>
        </div>
      <% end %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="social-media-services">
    <div class="row">
      <div class="col-lg-6">
        <%= render partial: 'shared/forms/social_media_link', locals: { form: f } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-left">
    <%= f.button :submit, f.object.new_record? ? "Save" : "Update" %>
  </div>
</div>
