<%
  title @company.name
  page_header @company.name do
    if can? :manage_company, @company
      render partial: 'manager_menu', locals: { company: @company }
    end
  end
%>

<div class="row">
  <div class="col-lg-9">
    <div class="company__members col-lg-12">
      <% @company.positions_with_members.each do |position, members| %>
        <div class="row">
          <h4><%= position.name.pluralize(members.count) %></h4>
          <%= render collection: members, partial: 'member' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 company__sidebar">
    <div class="company__sidebar__logo">
      <%= image_tag(@company.logo.url(:thumb)) %>
    </div>
    <% if @company.website.present? %>
      <div class="company__sidebar__website">
        <%= link_to(@company.website, @company.website) %>
      </div>
    <% end %>
    <div class="company__sidebar__description">
      <%= @company.description %>
    </div>
    <div class="company__sidebar__social_media_links">
      <%= render partial: 'shared/social_media_link', collection: @company.social_media_links %>
    </div>
  </div>
</div>
