<%
  title @company.name
%>

<div class="page-header">
  <% if can? :manage_company, @company %>
    <div class="dropdown manage-company">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Manage Company
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
        <% if can? :invite_company_member, @company %>
          <li role="presentation"><%= link_to "Invite members to company", new_company_member_path(@company), role: 'menuitem', tabindex: '-1' %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%= @company.name %></h1>
</div>

<div class="row">
  <div class="col-lg-8">
    <% if @company.description.present? %>
      <%= panel columns: 12 do %>
        <%= @company.description %>
      <% end %>
    <% end %>
    <% if @company.website.present? %>
      <%= definition_list(Website: link_to(@company.website, @company.website)) %>
    <% end %>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-12">
      <div class="thumbnail">
        <div class="company-thumb-wrapper">
          <%= image_tag(@company.logo.url(:thumb)) %>
        </div>
      </div>
    </div>
    <div class="company-members">
      <% @company.positions_with_members.each do |position, members| %>
        <div class="col-lg-12">
          <ul class="list-group">
            <li class="list-group-item disabled"><%= position.name.pluralize(members.count) %></li>
            <% members.each do |member| %>
              <li class="list-group-item">
                <%= image_tag(member.avatar.url(:icon)) %>
                <%= link_to member.full_name, member %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-lg-12 text-center">
      <%= render partial: 'companies_members_positions/form', locals: { companies_members_position: current_member.companies_positions.new(company: @company) } %>
    </div>
  </div>
</div>
