<tr>
  <td>
    <% if office_hour.available? %>
      <div class="label label-success">Available</div>
    <% else %>
      <div class="label label-info">Booked</div>
    <% end %>
  </td>
  <td><%= office_hour.time_in_zone %></td>
  <td><%= office_hour.mentor_full_name %></td>
  <td><%= office_hour.participant_full_name %></td>
  <td>
    <div class="btn-group" role="group">
      <%= link_to('Delete', community_admin_office_hour_path(@current_community, office_hour), method: :delete, data: { confirm: "Are you sure you want to remove this Office Hour?"}, class: 'btn btn-default btn-xs') %>
      <%= link_to('Edit', edit_community_admin_office_hour_path(@current_community, office_hour), class: 'btn btn-default btn-xs') %>
    </div>
  </td>
</tr>
