<p>Dear <%= @recipient.full_name %>,</p>
<p><%= @member.full_name %> requested to be listed as <%= @position.name %> at <%= @company.name %>.
Please approve or reject the request on the management page of <%= @company.name %>.</p>
