<div class="availabilities-group">
  <h3>
    <%= availability.start_time.in_time_zone(current_member.time_zone).strftime('%H:%M') %>-<%= availability.end_time.in_time_zone(current_member.time_zone).strftime('%H:%M')%> <%= current_member.time_zone %>
    <% unless availability.time_zone == current_member.time_zone %>
      <small>
        <%= availability.start_time.strftime('%H:%M') %>-<%= availability.end_time.strftime('%H:%M') %> <%= availability.time_zone %>
      </small>
    <% end %>
    <% if can? :manage, availability %>
      <div class='pull-right'>
        <%= link_to 'Edit', edit_community_network_member_availability_path(
                              current_community, current_network,
                              availability.member, availability),
                            class: 'btn btn-default btn-xs' %>
      </div>
    <% end %>
  </h3>
  <hr>
  <% if availability.details.present? %>
  <p>
    <%= availability.details %>
  </p>
  <hr>
  <% end %>
  <h4>
    <%= availability.location_type.humanize %>: <%= availability.location_detail %>
  </h4>
  <table class='table table-striped'>
    <tbody>
      <%= render partial: 'slot', collection: availability.virtual_slots, as: :slot, locals: { availability: availability, member: @member } %>
    </tbody>
  </table>
</div>
