<% title 'Availabilities' %>
<%= render partial: 'members/header' %>

<div class="tab-content">
  <div class="tab-pane active">
    <h2>Available on <%= @availability.date.strftime('%B %d, %Y') %></h2>

    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Start time - End time</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @slots.each do |slot| %>
          <tr>
            <td><%= slot.start_time.strftime('%H:%M %P') %> - <%= slot.end_time.strftime('%H:%M %P') %></td>
            <td><%= slot_available_message(slot) %></td>
            <td>
              <% if slot.available && can?(:create, slot) %>
                <%= link_to 'Reserve', reserve_community_member_availability_slots_path(current_community, @member, @availability, slot.start_time.hour, slot.start_time.min), class: 'btn btn-default btn-sm pull-right', method: :post %>
              <% elsif !slot.available && can?(:destroy, slot) %>
                <%= link_to 'Release', release_community_member_availability_slots_path(current_community, @member, @availability, slot.start_time.hour, slot.start_time.min), class: 'btn btn-default btn-sm pull-right', method: :delete, data: { confirm: "Are you sure you want to release this slot?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
