<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <%= content_tag(:title, "Magic#{ yield :title }") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag favicon_path, type: 'image/png' %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller_name %> <%= action_name %>' data-controller='<%= controller_name %>' data-community-slug='<%= current_community.try(:slug) %>'>
    <%= render partial: 'shared/navigation' %>

    <div class="container">
    <%= render partial: 'shared/flash' %>
    <%= yield :page_header %>
    <%= yield %>
    </div>
  </body>
</html>
