<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <%= content_tag(:title, "Magic#{ yield :title }") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag favicon_path, type: 'image/png' %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller='<%= controller_name %>' data-community-slug='<%= current_community.try(:slug) %>'>
    <header class='page-row'>
      <div id="color-bar"></div>
      <%= render partial: 'shared/navigation' %>
    </header>
    <main class='page-row page-row-expanded'>
      <div class="container">
        <%= render partial: 'shared/flash' %>
        <%= yield :page_header %>
        <%= yield %>
      </div>
    </main>
    <footer class='page-row'>
      <%= render partial: 'shared/footer' %>
    </footer>
  </body>
</html>
