<div class="page-header">
  <div class='pull-right'>
    <ul class="nav nav-pills">
      <%= nav_link 'Details', community_member_path(current_community, @member) %>
      <%= nav_link 'Availabilities', community_member_availabilities_path(current_community, @member) %>
      <li><%= render partial: 'shared/follow_button', locals: { object: @member } %></li>
      <%= nav_link 'Private Message', community_member_messages_path(current_community, @member) %>
    </ul>
  </div>
  <h1><%= @member.full_name %></h1>
</div>
