<div class="page-header">
  <div class="page-header-action">
    <%= render partial: 'shared/follow_button', locals: { object: @member } %>
    <%= link_to 'Private Message', community_member_messages_path(current_community, @member), class: 'btn btn-default' %>
  </div>
  <h1><%= @member.full_name %></h1>
</div>


<ul class="nav nav-pills">
  <%= nav_link 'Details', community_member_path(current_community, @member) %>
  <li class=<%= 'active' if controller_name.in? %w(availabilities calendars) %>>
    <%= link_to 'Availabilities', community_member_availabilities_path(current_community, @member) %>
  </li>
</ul>
