<div class="col-lg-3 member__sidebar">
  <div class="member__sidebar__avatar">
    <%= image_tag(@member.avatar.url(:thumb)) %>
  </div>

  <div class="member__sidebar__positions">
    <%= member_positions(@member, with_spacing: true) %>
  </div>

  <% if @member.description.present? %>
    <div class="member__sidebar__description">
      <%= @member.description %>
    </div>
  <% elsif current_member == @member %>
    <div class="member__sidebar__description">
      <%= simple_form_for(@member, as: @member, url: registration_path(@member, current_community), html: { method: :put }) do |f| %>
        <%= f.input :description, input_html: { rows: 3 }, label: false, placeholder: "Add a description to your profile" %>
        <div class="text-right">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="member__sidebar__social_media_links">
    <%= render partial: 'shared/social_media_link', collection: @member.social_media_links %>
  </div>

  <% if @member.followed_members.any? %>
    <div class="member__sidebar__follows">
      <h5>Following</h5>
      <% for followed in @member.followed_members %>
        <%= member_avatar_link(followed) %>
      <% end %>
    </div>
  <% end %>

  <% if @member.followers.any? %>
    <div class="member__sidebar__followers">
      <h5>Followed by</h5>
      <% for follower in @member.followers %>
        <%= member_avatar_link(follower) %>
      <% end %>
    </div>
  <% end %>
</div>
