<% title @member.full_name %>

<div class="page-header">
  <div class="page-header-action">
    <%= render partial: 'shared/follow_button', locals: { object: @member } %>
    <%= link_to('Private Message', community_member_messages_path(current_community, @member), class: 'btn btn-default') %>
  </div>
  <h1><%= @member.full_name %></h1>
</div>

<div class="row">
  <div class="col-lg-8">
    <%= definition_list("First name" => @member.first_name, "Last name" => @member.last_name) %>
    <%= render partial: 'shared/forms/social_media_links', locals: { attachable: @member } %>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-12">
      <div class="thumbnail">
        <div class="member-thumb-wrapper">
          <%= image_tag(@member.avatar.url(:thumb)) %>
        </div>
      </div>
    </div>
    <% @member.positions_in_companies.each do |company, positions| %>
      <%= panel company.name, columns: 12 do %>
        <%= positions.map(&:name).to_sentence %>
      <% end %>
    <% end %>
  </div>
</div>
