<% title @member.full_name %>
<%= render partial: 'members/header' %>
<div class="row">
  <div class="col-lg-8">
    <%= render partial: 'members/navigation' %>
    <%= definition_list("First name" => @member.first_name, "Last name" => @member.last_name) %>
    <%= render partial: 'shared/social_media_link', collection: @member.social_media_links %>
  </div>
  <%= render partial: 'members/sidebar' %>
</div>
