<%= simple_form_for([current_community, current_network, member, availability], html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :date, autofocus: true, wrapper_html: { class: 'datetime-inline' } %>
    <%= f.input :slot_duration, collection: Availability::SLOT_DULATIONS %>
    <%= f.input :start_time, as: :time, minute_step: 15, ignore_date: true, wrapper_html: { class: 'datetime-inline' } %>
    <%= f.input :end_time, as: :time, minute_step: 15, ignore_date: true, wrapper_html: { class: 'datetime-inline' } %>
    <%= f.input :time_zone, include_blank: 'Please select a time zone…' %>
    <%= f.input :location_type, collection: Availability::LOCATION_TYPES.map { |type| [type.humanize, type] } %>
    <%= f.input :location_detail %>
    <%= f.input :details %>
    <% if can? :assign_networks_to, availability %>
      <%= f.association :networks,
                        input_html: { class: 'network_checkboxes' },
                        collection: current_member.networks,
                        checked: (current_network.id unless availability.persisted?),
                        as: :check_boxes %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= f.button :submit %>
    </div>
    <div class="col-lg-6 text-right small">
      <% if f.object.persisted? %>
        <%= link_to 'Delete this Availability', [current_community, current_network, member, availability], method: :delete, data: { confirm: "All slots of this availability will be removed. Are you sure you want to remove this availability?" } %>
      <% end %>
    </div>
  </div>
<% end %>
